[submodule "/Users/mvaldeta/42/Cursus/42Cursus/00.libft"]
	path = /Users/mvaldeta/42/Cursus/42Cursus/00.libft
	url = https://github.com/m4r11/00.libft
[submodule "/Users/mvaldeta/42/Cursus/42Cursus/01.get_next_line"]
	path = /Users/mvaldeta/42/Cursus/42Cursus/01.get_next_line
	url = https://github.com/m4r11/01.get_next_line
[submodule "00.libft"]
	path = 00.libft
	url = https://github.com/m4r11/00.libft
[submodule "01.get_next_line"]
	path = 01.get_next_line
	url = https://github.com/m4r11/01.get_next_line
[submodule "01.ftprintf"]
	path = 01.ftprintf
	url = https://github.com/m4r11/01.ftprintf
[submodule "01.netwhat"]
	path = 01.netwhat
	url = https://github.com/m4r11/01.netwhat.git
