[submodule "/Users/mvaldeta/42/Cursus/42Cursus/00.libft"]
	path = /Users/mvaldeta/42/Cursus/42Cursus/00.libft
	url = https://github.com/m4r11/00.libft
[submodule "/Users/mvaldeta/42/Cursus/42Cursus/01.get_next_line"]
	path = /Users/mvaldeta/42/Cursus/42Cursus/01.get_next_line
	url = https://github.com/m4r11/01.get_next_line
[submodule "00.libft"]
	path = 00.libft
	url = https://github.com/m4r11/00.libft
[submodule "01.get_next_line"]
	path = 01.get_next_line
	url = https://github.com/m4r11/01.get_next_line
[submodule "01.ftprintf"]
	path = 01.ftprintf
	url = https://github.com/m4r11/01.ftprintf
[submodule "01.netwhat"]
	path = 01.netwhat
	url = https://github.com/m4r11/01.netwhat.git
[submodule "02.ft_server"]
	path = 02.ft_server
	url = https://github.com/m4r11/02.ft_server.git
[submodule "02.MiniRT"]
	path = 02.MiniRT
	url = https://github.com/m4r11/02.miniRT.git
[submodule "02.miniRT"]
	path = 02.miniRT
	url = https://github.com/m4r11/02.miniRT.git
[submodule "02.push_swap"]
	path = 02.push_swap
	url = https://github.com/m4r11/02.push_swap.git
[submodule "Submod"]
	url = https://github.com/m4r11/02.ft_server
[submodule "02.minitalk"]
	path = 02.minitalk
	url = https://github.com/m4r11/02.minitalk
